/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
}

.logo {
    color: #38bdf8;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
    color: #cbd5f5;
}

#cta {
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#cta:hover {
    transform: scale(1.1);
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-10px);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}